.homepage {
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,0.15), rgba(0,0,0,0.5)), url("img/wood.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.head {
  background: transparent;
}

.book {
  width: 75%;
  margin-top: 5%;
  padding: 5%;
}


.findBooks {
  margin: 60px;
  padding: 45px;
  background: url("img/woodfloor.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}

.findBooks:hover{
  background: url("img/bookOpening.gif");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: black;
}

.findGroups {
  margin: 50px;
  padding: 45px;
  background: url("img/woodfloor.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}

.findGroups:hover{
  background: url("img/friends.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  transition: .5s;
  color: black;
}

.title {
  font-family: "Inria Serif", serif;
}
