.homepage {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, 1)), url("img/bike.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
